#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    behaviors {
        mm_ch_bs: ctrl_h_to_backspace {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp H>, <&kp BACKSPACE>;
        mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC       &kp N1  &kp N2    &kp N3    &kp N4           &kp N5                                   &kp N6       &kp N7  &kp N8     &kp N9            &kp N0             &kp EQUAL
&kp TAB       &kp Q   &kp W     &kp E     &kp R            &kp T                                    &kp Y        &kp U   &kp I      &kp O             &kp P              &kp MINUS
&kp LCTRL     &kp A   &kp S     &kp D     &kp F            &kp G        &mkp LCLK  &mkp RCLK        &mm_ch_bs    &kp J   &kp K      &kp L             &lt 1 SEMICOLON    &kp SQT
&kp LSHFT     &kp Z   &kp X     &kp C     &kp V            &kp B        &kp GRAVE  &kp BACKSPACE    &kp N        &kp M   &kp COMMA  &kp DOT           &kp SLASH          &kp RSHFT
&kp CAPSLOCK  &mo 4   &kp LGUI  &kp LALT  &lt 2 BACKSPACE  &lt 3 SPACE  &lt 1 DEL  &lt 2 LA(GRAVE)  &lt 3 ENTER  &trans  &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp NON_US_BACKSLASH
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mo 4   &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans     &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans     &trans            &trans            &trans      &trans      &trans                      &trans      &trans      &trans      &trans      &trans                &trans
&kp GRAVE  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)            &trans
&trans     &kp N1            &kp N2            &kp N3      &kp N4      &kp N5      &trans  &trans  &kp N6      &kp N7      &kp N8      &kp N9      &kp N0                &kp GRAVE
&trans     &kp F1            &kp F2            &kp F3      &kp F4      &kp F5      &trans  &trans  &kp F6      &kp F7      &kp F8      &kp F9      &kp NON_US_BACKSLASH  &trans
&trans     &trans            &trans            &trans      &trans      &trans      &trans  &trans  &trans      &trans      &trans      &trans      &trans                &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1         &kp F2         &kp F3      &kp F4         &kp F5                         &kp F6    &kp F7          &kp F8          &kp F9     &kp F10          &kp F11
&trans  &kp LA(LC(Q))  &kp LA(LC(W))  &kp ESCAPE  &kp LA(LC(R))  &kp LA(LC(T))                  &trans    &trans          &kp UP_ARROW    &trans     &kp PRINTSCREEN  &trans
&trans  &kp LA(LC(A))  &kp LA(LC(S))  &kp DELETE  &kp LA(LC(F))  &kp LA(LC(G))  &trans  &trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans           &trans
&trans  &trans         &trans         &trans      &trans         &trans         &trans  &trans  &kp END   &trans          &trans          &trans     &trans           &trans
&trans  &trans         &trans         &trans      &trans         &trans         &trans  &trans  &trans    &trans          &trans          &trans     &trans           &trans
            >;
        };

        layer_4 {
            bindings = <
&bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
